header {
    text-align: center
}

h1#site-title {
    font-size: 5em;
}

h1#site-title a {
    text-decoration: none;
    color: black;
}

h1#page-title {
    font-size: 4em;
    text-align: center;
}

a.change-lang {
    color: white;
    border: 1px solid #000000;
    background-color: blue;
}

a.change-lang:hover {
    color: black;
    background-color: cyan;
}

aside#trans {
    text-align: right;
}
