header {
    text-align: center
}

h1#site-title {
    font-size: 5em;
}

h1#site-title a {
    text-decoration: none;
    color: black;
}

h1#page-title {
    font-size: 4em;
    text-align: center;
}

aside#trans {
    text-align: right;
}
