<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }} - {{ site.title.en }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1 id="site-title">{{ site.title.en }}</h1>
            <h2 id="site-subtitle">{{ site.subtitle.en }}</h2>
            <hr>
        </header>
        <section>
            <h1 id="page-title">{{ page.title }}</h1>
            {{ content }}
        </section>
    </body>
</html>
