<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="/js/lang.js"></script>
    </head>
    <body>
        <h1 id="site-title">{{ site.title }}</h1>
        <h2 id="site-subtitle">{{ site.subtitle }}</h2>
        <hr>
    </body>
</html>
